<br>
<br>
<div id="editWrapper">
  <h2>Edit Profile</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.text_field :firstname, autofocus: true, placeholder: "first name", class: "edit_field" %>
    </div>

    <div class="field">
      <%= f.text_field :lastname, autofocus: true, placeholder: "last name", class: "edit_field" %>
    </div>

    <div class="field">
      <%= f.text_field :dogname, autofocus: true, placeholder: "dog's name", class: "edit_field" %>   
    </div>

    <div class="field avatar_edit">
      <%= f.label "Dog Profile Pic" %>:
      <%= f.file_field :propic %>    
    </div>

    <div class="field">
      <%= f.email_field :email, autofocus: true, class: "edit_field" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="field">
      <%= f.password_field :password, autocomplete: "off", placeholder: " new password - minimum 6 characters", class: "edit_field" %>
    </div>

    <div class="field">

      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "password confirmation", class: "edit_field" %>
    </div>

    <div class="field">
      <%= f.password_field :current_password, autocomplete: "off", placeholder: "old password", class: "edit_field" %>
    </div>

    <br>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>

<br>
<br>
<hr> 
<br>

  <p id="unhappy"> Unhappy with your experience? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

  <%= link_to "Back", :back, class: "backBtn" %>
</div>
