<br>
<br>
<div id="newRegWrapper">
  <h2> Join the Community </h2>

  <div class="newOwnerForm">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    
    <div class="reg_field">
      <%= f.text_field :firstname, autofocus: true, autocomplete: "off", placeholder: "First name", class: "regField" %>
    </div>

    <div class="reg_field">
      <%= f.text_field :lastname, autofocus: true, autocomplete: "off", placeholder: "Last name", class: "regField" %>
    </div>

    <div class="reg_field">
      <%= f.text_field :dogname, autofocus: true, autocomplete: "off", placeholder: "Pup's name", class: "regField" %>   
    </div>

    <div class="reg_field avatar">
      <%= f.label "Dog Profile Pic" %>: 
      <%= f.file_field :propic %>    
    </div>

    <div class="reg_field">
      <%= f.email_field :email, autofocus: true, unique: true, autocomplete: "off", placeholder: "Email", class: "regField" %>
    </div>

    <div class="reg_field">
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password - 6 characters minimum", class: "regField" %>
    </div>

    <div class="reg_field">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation", class: "regField" %>
    </div>
    <br>
    <div class="actions">
      <%= f.submit "Sign up", class: "btnStyle" %>
    </div>
  <% end %>
</div>
</div>

